h2{
    text-align: center;
    text-decoration: underline 1px;
}
.card-body{
    text-align: center;
}
.btn{
    color: white;
    font-size: 14px;
}
.myAlert-bottom{
    position: fixed;
    bottom: 5px;
    left:3%;
    width: 94%;
    text-align: center;
}